@charset "UTF-8";
@import "variables";
.user{
	font-size:16px;
	.user-head{
		border-bottom:1px dashed @color-split;
		p{
			font-size: 14px;
			padding-bottom:10px;
			i{
				margin-right:5px;
			}
		}
	}
	.user-tit{
		font-size: 16px;
		.el-icon-warning{
			color:@color-primary;
		}
		span{
			margin-left: 6px;
		}
	}
	.user-wran{
		color:@color-red;
		font-size: 12px;
		padding:10px 0;
	}
	.user-main{
		padding:10px;
		.user-base{
			padding-top:16px;
			.user-avatar{
				width: 120px;
				height:120px;
				border-radius:6px;
				margin:0 0 26px 200px;
				overflow:hidden;
				border:1px solid @color-split;
				img{
					width:auto;
					height:auto;
					max-width: 100%;
					max-height:100%;
				}
			}
			dl{
				margin-bottom: 26px;
			}
		}
		.user-main-com{
			.user-com-title{
				font-size: 17px;
				color:@color-text;
				margin-bottom:12px;
				padding-left:6px;
			}
			.user-com-list{
				dl{
					margin-bottom:16px;
					dt{
						text-align:right;
						min-width:200px;
					}
					dd{
						color:@color-text;
						width:400px;
					}
				}
			}
		}
	}
	.user-bottom{
		padding-left:210px;
	}
}